/*General Settings*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* styles for LOGIN PAGE */

.login-img img {
  width: 30px;
  height: 29px;
  flex-shrink: 0;
}

.login-img img:hover {
  animation: spin 0.9s linear;
}

.login-title h2 {
  font-weight: 900;
  font-style: normal;
  line-height: normal;
}

.login-input {
  padding: 13px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-input::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.login-button {
  height: 45px;
  border-radius: 76px;
  background-color: #1da1f2;
  cursor: pointer;
  border: none;
  transition: linear 0.1s;
  font-size: 12px;
}

.login-button:hover {
  opacity: 0.8;
}

.login-links {
  transition: linear 0.15s;
}

.forgot-password a,
.sign-up-twitter a {
  text-decoration: none;
  color: #1da1f2;
  text-align: right;
  font-size: 12px;
}

.forgot-password a:hover,
.sign-up-twitter:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .login-title h2 {
    font-size: 25px;
    margin-top: 10px;
  }

  .login-button {
    margin-top: 25px;
  }

  .login-links {
    display: flex;
    flex-direction: column;
  }
}

/* styles for SIGN-UP PAGE */

.black-left {
  display: none;
  background: black;
  min-height: 80vh;
}

.white-right {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin: 35px 0;
}

.signup-logo-inner {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.signup-logo-inner img {
  min-width: 35px;
  min-height: 5vh;
}

.hamburger {
  display: block;
}

.hamburger {
  width: 35px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.hamburger:focus {
  outline: none;
}

.bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: rgb(50, 135, 215);
  margin: 6px 0px;
  transition: 0.4s;
  border: none;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 100;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: white;
}

.create-account-title {
  font-size: 24px;
  max-width: 75%;
  margin: 0 auto 35px auto;
}

.create-account-input {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  width: 75%;
  padding: 10px;
  margin-bottom: 15px;
}

.have-an-account {
  max-width: 75%;
  margin: 0 auto;
}

.have-an-account-p span a {
  text-decoration: none;
}

.create-account-next-button {
  border-radius: 76px;
  background: #1da1f2;
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  transition: 0.1s linear;
}

.create-account-next-button:focus {
  border: none;
  outline: none;
}

.create-account-next-button:active {
  opacity: 0.8;
}

.signup-footer {
  display: none;
}

.footer-list ul li {
  list-style-type: none;
}

.footer-list ul li a,
.copyright {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-right: 10px;
}

.footer-list ul li a:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .signup-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .black-left {
    display: block;
    background: black;
    width: 65%;
    min-height: 90vh;
  }

  .x-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .x-img img {
    min-width: 35px;
    min-height: 30vh;
  }

  .white-right {
    display: block;
    width: 35%;
  }

  .signup-logo-inner {
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .create-account-box {
    min-height: 50vh;
  }

  footer {
    min-height: 5vh;
  }

  .signup-footer {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .footer-list {
    position: static;
    bottom: 0;
  }

  .footer-list ul li {
    white-space: nowrap;
    margin: auto 5px;
    padding-bottom: 5px;
  }
}

/* styles for FEED PAGE */

.main-page {
  display: flex;
}

.side-menu {
  width: 19%;
  margin-left: 7%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}

.side-menu-logo img {
  width: 25px;
  height: 24px;
  margin-bottom: 25px;
}

.side-menu-logo img:hover {
  animation: spin 0.9s linear;
}

.side-menu-list ul li {
  list-style: none;
  text-align: left;
}

.side-menu-list ul li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-bottom: 30px;
}

.side-menu-list ul li a:hover {
  opacity: 0.5;
}

.side-menu-list ul li a svg {
  width: 23px;
  height: 23px;
}

.home-light {
  fill: #1da1f2;
}

.side-menu-list ul li a p {
  color: black;
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 25px;
}

.side-menu-home {
  color: #1da1f2;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.twitt-button {
  color: white;
  width: 19%;
  padding: 15px 93px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: #1da1f2;
  border: none;
  cursor: pointer;
  transition: linear 0.3s;
}

.twitt-button:hover {
  opacity: 0.8;
}

.feed-section {
  margin-left: 40px;
}

.side-menu-profile {
  display: flex;
  margin-top: 23vh;
  padding-bottom: 10px;
}


.profile-avatar a img {
  border-radius: 999px;
  width: 30px;
  height: 30px;
}

#profile-name {
  color: black;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#profile-name:hover {
  opacity: 0.8;
}

.profile-info {
  margin-left: 10px;
  margin-right: 51px;
}

.profile-info a {
  text-decoration: none;
  color: #1da1f2;
  font-size: 12px;
}

.profile-info a:hover {
  opacity: 0.8;
}

.profile-dots a:hover {
  opacity: 0.5;
}

.feed-section {
  margin-top: 15px;
  width: 35%;
}

.feed-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-size: 14px;
}

.feed-line-1 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.feed-line-1 img {
  border-radius: 9999px;
  width: 43px;
  height: 43px;
  margin-right: 10px;
}

.feed-line-1 p {
  color: #5b7083;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: -0.3px;
}

.tweet-icons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#tweet-input {
  outline: none;
  border: none;
  padding: 5px 5px 5px 0;
  color: #5B7083;
  font-size: 15px;
}

#tweet-input:focus {
  border: 2px solid #5B7083;
  border-radius: 5px;
  padding-left: 3px;
}

.tweet-icons ul {
  list-style-type: none;
  display: flex;
  margin-left: 60px;
}

.tweet-icons ul li {
  margin: 5px 10px 0 0;
  width: 24px;
  height: 24px;
}

.tweet-btn {
  width: 77px;
  height: 39px;
  padding: 15px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9999px;
  opacity: 0.5;
  background: #1da1f2;
  border: none;
  color: white;
  margin-top: 5px;
  transition: .28s ease;
}

.tweet-btn:hover {
  background: #0c9af3;
  opacity: .8;
}

#tweets {
  margin-top: 25px;
  max-height: 70vh;
  width: 100%;
  overflow-y: scroll;
}

